.lecturers_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  background-color: rgb(200, 208, 208);
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .lecturers_list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
